{% extends 'site_app/base.html' %}

{% block content %}
<h1 class="mb-4">Галерея фотографий</h1>

<!-- ФОРМА ПОИСКА -->
<!-- method="GET" означает, что данные формы полетят прямо в URL (в виде ?q=...&search_type=...) -->
<form method="GET" action="{% url 'site_app:master_page' %}" class="mb-4">
    <div class="input-group shadow-sm">
        
        <!-- Поле ввода (name="q" - это ключ для самого текста поиска) -->
        <input type="text" name="q" class="form-control" placeholder="Введите текст для поиска..." value="{{ request.GET.q }}">
        
        <!-- Кнопка отправки -->
        <button class="btn btn-primary" type="submit">Искать</button>
    </div>
</form>


<!-- БЛОК СОРТИРОВКИ -->
<div class="mb-4 bg-light p-3 rounded border">
    <strong class="me-2">Сортировка:</strong>
    <a href="?sort=date_desc&q={{ search_query }}" class="btn btn-sm {% if sort_param == 'date_desc' %}btn-primary{% else %}btn-outline-primary{% endif %}">Сначала новые</a>
    <a href="?sort=date_asc&q={{ search_query }}" class="btn btn-sm {% if sort_param == 'date_asc' %}btn-primary{% else %}btn-outline-primary{% endif %}">Сначала старые</a>
</div>

<!-- СЕТКА ФОТОГРАФИЙ -->
<div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
    {% for photo in photos %}
    <div class="col">
        <div class="card h-100 shadow-sm">                              <!--ДОБАВИЛ КЛАСС ЧТОБЫ ПОТОМ НА НЕГО ССЫЛАТЬСЯ И ЧТОБЫ ЭЛЕМЕНТЫ БЫЛИ  СТРОГО ВНУТРИ(relative)-->
            <a href="{% url 'site_app:detail_page' photo.pk %}" class="position-relative d-block photo-hover-wrap">
                <!-- Картинки обрезаются под один размер (300px) для ровной сетки -->
                <img src="{{ photo.photo.url }}" class="card-img-top" alt="{{ photo.name }}" style="height: 300px; object-fit: cover;">

                <!--ВСПЛЫВАЮЩЕЕ ОКНО ПРИ ХУВЕРЕ-->
                <div class="photo-overlay position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-75 text-white p-3 d-flex align-items-center justify-content-center text-center" style="opacity: 0; transition: opacity 0.3s;">
                    <span class="small">{{ photo.description}}</span>
                </div>
            </a>
            <div class="card-body">
                <h6 class="card-title">{{ photo.name }}</h6>
                <p class="card-text text-muted small mb-0">Дата публикации: {{photo.date|date:"d.m.Y"}}</p>
                <p class="card-text text-muted small mb-0">Автор: {{ photo.author.username }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- ПАГИНАЦИЯ  -->
{% if page_obj.has_other_pages %}
<nav>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&sort={{ sort_param }}&q={{search_query}}">&laquo; Первая</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&sort={{ sort_param }}&q={{search_query}}">Назад</a>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&sort={{ sort_param }}&q={{search_query}}">Вперед</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&sort={{ sort_param }}&q={{search_query}}">Последняя &raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}



<style>
    /* При наведении на обертку, делаем описание видимым */
    .photo-hover-wrap:hover .photo-overlay {
        opacity: 1 !important;
    }
</style>
{% endblock %}
